node_modules/
dist/
coverage/
.env
*.log

# Terraform
terraform/.build/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
!terraform/terraform.tfvars.example
terraform/crash.log
terraform/crash.*.log
